* {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;
	padding: 1em;
}

button{
    color:black;
}

/**************************/
/* de carrousel container */
/**************************/
.carousel {
	position: relative;
}


/**********************/
/* de lijst met films */
/**********************/
.carousel > ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	background-color: black;
}


/************/
/* een film */
/************/
.carousel > ul > li {
	position:relative;
	box-sizing: content-box;
	flex-shrink: 0;
	width: calc(100% - 4em);
	padding: 0 .5em;
	scroll-snap-align: center;
	background:black;
}

.carousel > ul > li:first-of-type {
	padding-left: 2em;
}

.carousel > ul > li:last-of-type {
	padding-right: 2em;
}

/* de afbeelding */
img {
	display: block;
	width:100%;
	height:40em;
}

/* de details */
#detail{
	position:absolute;
	width:100%; 
    height:100%;
	top:0; left:0;
	padding:inherit;
	background:#1A606060;
	background-clip: content-box;
	
	/* de details zijn standaard doorzichtig */
	opacity:0;
	transition:.5s;
}

/* hover over film (li) */
div#detail:hover{
	/* de details worden zichbaar als er over de film gehoverd wordt */
	opacity:4;
    text-align: center;
}

p{
    padding-left: 50;
    padding-right: 50;
    padding-top: 30;
}

/*************/
/* bolletjes */
/*************/
div.bolletjes {
	display: flex;
	justify-content: center;
}

div.bolletjes a {
	display: block;
	width: 1em;
	height: 1em;
	margin: .5em .25em;
	border: 1px solid black;
	border-radius: 50%;
	outline:none;
	overflow: hidden;
	padding-left: 1em;
	color: green;
}

/* focus toegevoegd */
div.bolletjes a:hover,
div.bolletjes a:focus{
	outline: none;
	box-shadow: 0 0 .25em .25em #0088ff;
	transform: scale(1.1);
}

div.bolletjes a.bolletjegevuld2 {
	background-color: black;
}


/************/
/* pijltjes */
/************/
button.pijltje {
	position: absolute;
	width: 40px;
	height: 80px;
	line-height: 40px;
	padding: 0;
	border: 0;
	font-size: 1em;
	background: white;
	top: calc(50% - 56px);
	outline: none;
}

button.pijltje.vorige {
	left: 0em;
	border-radius: 0 40px 40px 0;
}

button.pijltje.volgende {
	right: 0em;
	border-radius: 40px 0 0 40px;
}

/* focus toegevoegd */
button.pijltje:hover,
button.pijltje:focus{
	box-shadow: 0 0 .25em .25em #0088ff;
	transform: scale(1.1);
}