* {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;
	padding: 1em;
	background:black;
}

button{
    color:black;
}

/**************************/
/* de carrousel container */
/**************************/
.carousel {
	position: relative;
}

/**********************/
/* de lijst met films */
/**********************/
.carousel > ul {
	width: 100%;
	height:calc(60vw);
	margin: 0;
	padding: 0 0 5vw;
	
	list-style: none;
	background-color:#333;
	
	display: flex;
	align-items:center;
	overflow: scroll;
	scroll-snap-type: x mandatory; /*dat je telkens 1 foto in het midden krijgt*/
	scroll-behavior: smooth; /*dat je een mooie overgang krijgt*/
}

/* verbergt de scrollbar */
.carousel > ul::-webkit-scrollbar {
	width: 0 !important; height: 0 !important;
}


/************/
/* een film */
/************/
.carousel > ul > li {
	position:relative;
	box-sizing: content-box;
	flex-shrink: 0;
	padding: 0 2vw;
	scroll-snap-align: center;
	background-clip: content-box;
	
	/* de niet actieve films zijn deels transparant */
	opacity:.5;
	
	/* de transitie tussen normaal en actief*/
	transition:.5s;
}

/* de film in het midden is de actieve film */
/* met JS krijgt deze film de class actief */
/* de film is niet transparant en is groter */
.carousel > ul > li.actief {
	opacity:1;
	transform:scale(1.25);
	z-index:3;
}

/* de eerste film wordt vanaf de linkerrand groter - anders steekt de film uit */
.carousel > ul > li.actief:first-of-type {
	transform-origin: left center;
}
/* de laatste film wordt vanaf de rechterrand groter - anders steekt de film uit */
.carousel > ul > li.actief:last-of-type {
	transform-origin: right center;
}


/* de titel */
h2 {
	margin:0;
	font-size:2.5vw;
	line-height:5vw;
	text-align: center;
}


/* de afbeelding */
img {
	display: block;
	width:60vw;
	height:35vw;
}


/* de details */
#detail{
	position:absolute;
	left:2vw; right:2vw;
	top:5vw; bottom:0;
	overflow:scroll;
	
	text-align: center;
	background:#1A606060;
	opacity:0;
	transition:.5s;
}

/* hover over film (li) */
/* alleen bij de actieve film */
/* de details worden zichbaar als er over de film gehoverd wordt */
li.actief div#detail:hover{
	opacity:1;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

/*************/
/* bolletjes */
/*************/
div.bolletjes {
	position:absolute;
	left:0; right:0; bottom:0;
	display: flex;
	justify-content: center;
}

div.bolletjes a {
	display: block;
	width: 1em;
	height: 1em;
	margin: .5em .25em;
	border: 1px solid black;
	border-radius: 50%;
	outline:none;
	overflow: hidden;
	padding-left: 1em;
	color: green;
}

/* focus toegevoegd */
div.bolletjes a:hover,
div.bolletjes a:focus{
	outline: none;
	box-shadow: 0 0 .25em .25em #0088ff;
	transform: scale(1.1);
}

div.bolletjes a.bolletjegevuld2 {
	background-color: black;
}


/************/
/* pijltjes */
/************/
button.pijltje {
	position: absolute;
	width: 40px;
	height: 80px;
	line-height: 40px;
	padding: 0;
	border: 0;
	font-size: 1em;
	background: black;
	color:white;
	top: calc(50% - 56px);
	outline: none;
	z-index:30;
}

button.pijltje.vorige {
	left: 0em;
	border-radius: 0 40px 40px 0;
}

button.pijltje.volgende {
	right: 0em;
	border-radius: 40px 0 0 40px;
}

/* focus toegevoegd */
button.pijltje:hover,
button.pijltje:focus{
	box-shadow: 0 0 .25em .25em #0088ff;
}